@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../icon-fonts/symbols-technomart.eot?22619757');
  src: url('../icon-fonts/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../icon-fonts/symbols-technomart.woff?22619757') format('woff'),
       url('../icon-fonts/symbols-technomart.ttf?22619757') format('truetype'),
       url('../icon-fonts/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

html,body{
    margin:0;
     padding:0;
  
}
body{
    font-size:16px;
    font-family: 'Cuprum', sans-serif;
    font-weight: 300;
    font-style: normal;
    color:black;
    background:white;

}

/*===========HEADER=======*/

header{
overflow: hidden;
}
.border-up {
  margin: 0;
  padding: 0;
  height: 45px;
  background: #293449;
  border: none;
  text-align: center;
  min-width: 1024px;

}
.content-wraper{
  width: 941px;
 position: relative;
  margin: 0 auto;
}


.border-up>.content-wraper>ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.border-up .content-wraper ul li{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.logo{
    display: block;
    font-size:24px;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-style: normal;
    color:white;
    background:#ee3643;
   text-decoration: none;
    text-transform: uppercase;
    width: 220px;
    height: 35px;
   border-bottom: 5px solid #b52933;
    padding-top: 10px;
    position: relative; 
    z-index: 10;


}

.search{

  display: block;
  background:#293449;
  font-family: 'Cuprum', sans-serif;
  color:white;
  font-size:17px;
  color: #f1f1f3;
  height: 39px;
  width: 200px;
  border: none;
  margin-bottom:0px;
  padding: 0px;
  margin-left: 5px; 
  /*position:relative;*/
  bottom: 3px;
  display: inline-block;
}
.search:hover{
  outline: none;
    background: #212a3a;
  color: white;
}

.search:focus{
  outline: none;
}

.border-up>.content-wraper>ul>li:nth-child(2){
  color:#6a7180;
   font-size: 25px;
}

.border-up>.content-wraper>ul>li:nth-child(2):hover,
.border-up>.content-wraper>ul>li:nth-child(2):hover > .search

{
  background: #212a3a;
  color: white;
}

.logo:hover {
  background: #ca2c37;
}
.logo:active{
  background: #ba2732;
}

.icon-bookmark,
.icon-basket,
.order
{
  display: block;
  font-family: 'Cuprum', sans-serif;
  color:white;
  font-size:17px;
  text-decoration: none;
  color:#6a7180;
  width: 149px;
  height: 30px;
  text-align: center;
  padding-top: 15px;
 

}

.icon-bookmark>span,
.icon-basket>span
{
  color:white;
}

.icon-bookmark:hover,
.icon-basket:hover{
   background: #212a3a;
   color: white;
}

.order{
  padding-left: 9px;
  padding-right: 9px; ;

  background: #63a63e;
  color:white;
}

.order:hover
{
  background: #5fbb2d;
}

.order:active
{
  background: #518534;
  color: #a4bf94;
}

.icon-bookmark:active,
.icon-basket:active
{
  background: #161d29;
  color: #999ca1;
}
.icon-bookmark>span:active,
.icon-basket>span:active{
   color: #999ca1;
}

.layer {
  height: 275px;
  background: #f1f5f7;
  margin:0;
  padding: 0;
  position: relative;
  bottom: 5px;
}

.discript{
  width: 200px;

  text-align: left;
display: inline-block;
height: 0;
 margin-top: 35px;
}

.discript p{
  font-size:16px;
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    color:#ee3643;
    padding: 5px;
}


.contacts{
  width: 270px;
display: inline-block;
vertical-align: top;
margin-right: 0px;
margin-left: 90px;
margin-top: 45px;
    
}
.contacts .phone{
   font-size:21px;
    font-family: 'Cuprum', sans-serif;
    font-weight:bold;
    color:#e9292a;
    border: 3px solid white;
    padding-top: 8px;
 height: 30px;


}

.phone:before{
  content: '📞';
  font-family: "symbols-technomart";
  color: #b7bfc8;
  padding-right: 10px;
  }

.contacts>p {
  font-size:14px;
    font-family: 'Cuprum', sans-serif;
    font-weight:bold;
   width: 277px;
  color: #32425c;

}

.buttons{
  text-align: center;
}

.buttons>a, .btnlog{
  font-size:21px;
    font-family: 'Cuprum', sans-serif;
    font-weight:bold;
  color: #000;

  background: white;
  text-decoration: none;
padding: ;
 display: block;
padding-top: 8px;
 height: 30px;


}

.enter, .btnlog{
  width: 120px;
 float: left;

}

.enter:before{
  content: '\2386';
  font-family: "symbols-technomart";
  color: #b7bfc8;
  padding-right: 10px;
  }



  .enter:hover,
  .registration:hover
  {
    color:#ef4350;
  }

  .enter:active,
  .registration:active
  {
    color:#b2b2b2;
  }

  .enter:hover:before{
  
    color: #32425c;
  }
.enter:active:before{
  color:#b2b2b2;
}

.registration{
  width: 150px;
  float: right;

}


.buttons,.login{
  width:279px;
  height: 50px;

display: inline-block;
margin-left: 90px;
vertical-align: top;
margin-top: 45px;
}

.buttons{
display: none;

}

.login{
height: 50px;


}

.btnlog{
  width: 282px;

}

.btnlog:before{
  content: '👨';
  font-family: "symbols-technomart";
  color: #b7bfc8;
  padding-right: 10px;

}

.btnlog:after{
  content: '\2386';
  font-family: "symbols-technomart";
  color: #b7bfc8;
  padding-left: 10px;

}

.btnlog:hover:before,
.btnlog:hover:after
{
  color: #32425c;
}

.btnlog:active:before,
.btnlog:active:after,
.btnlog:active
{
  color: #b2b2b2;
}


.point{
  background: #32425c;
  display:block;
  width: 3px;
  height: 3px;
  border:1px solid #32425c;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;

}

.login>a:nth-child(2),.login>a:nth-child(4)
{
  display: inline-block;
  margin-top: 10px;
  color: #32425c;
}

.login>a:nth-child(2):hover,.login>a:nth-child(4):hover{
  color: #ee3643;
}

.login>a:nth-child(2):active,.login>a:nth-child(4):active{
  color: #b7bfc8;
}



.main-title{


}


.layer>.content-wraper>nav
{
  height: 50px;
  padding:0;
  margin-top: 40px;
  background: #32425c;
  border-bottom: 3px solid #293449;
  
}

.layer>.content-wraper>nav>ul{
  text-align: center;
  padding: 0;
  list-style: none;


}
.layer>.content-wraper>nav>ul>li{
  display: inline-block;
}

.layer>.content-wraper>nav>ul>li>a{
  text-decoration: none;
  font-size:17px;
  font-family: 'Cuprum', sans-serif;
  font-weight:normal;
  display: inline-block;
  color: #f1f2f4;
  padding: 16px 31px;
  margin: 0;
 

}

.layer>.content-wraper>nav>ul>li>a:hover{
  background: #293449;
}

.layer>.content-wraper>nav>ul>{

  padding: 0;
  margin: 0;
}

.layer>.content-wraper>nav>ul>li>a:active{
  background: #1d2739;
  color: #8e939c;
}
.face-content{
  
  margin-top:40px;
  height: 440px;
  

}

/*=======Content===============*/

.face-content>figure{
  width: 297px;
  height: 125px;
  margin: 10px;
  padding: 0;
  display: inline-block;
  
}

.face-content>figure:nth-child(1){
  margin-left: 0;
}

.face-content>figure:nth-child(3),
.face-content>figure:nth-child(5),
.face-content>figure:nth-child(6){
  margin-right:0;
  float: right;
}


.face-content>.slider{
  width: 618px;
  height: 270px;
  display: inline-block;
  margin: 10px 0;
  float: left;
  position: relative;
 
}

.face-content>figure:nth-child(5),
.face-content>figure:nth-child(6){
 
}

.face-content>figure:nth-child(6){
display: block;

}


.face-content>figure>h3{
  text-decoration: none;
  font-size:24px;
  font-family: 'Cuprum', sans-serif;
  font-weight:bold;
  color: #fff;
  padding-left: 20px;
  margin-bottom: 15px;
}


.face-content>figure>a{
  text-decoration: none;
  font-size:14px;
  line-height:18px;
  font-family: 'Cuprum', sans-serif;
  font-weight:bold;
  color: #fff;
  margin-left: 25px;
  text-transform: uppercase;
  display:block;
  border: 1px solid black;
  width:115px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 0;
  margin-top: 0;
  background: #dda028;
  border-color: #dda028;
}

.new{
  width: 60px;

  float: right;
}

.face-content>figure:nth-child(1)
{
background: #f6b22d url('../img/materials.png') no-repeat 85% 50%;
}

.face-content>figure:nth-child(1)>a{
  background: #dda028;
  border-color: #dda028;
}


.face-content>figure:nth-child(2)
{
background: #4aafde url('../img/tool.png') no-repeat 85% 50%;
}

.face-content>figure:nth-child(2)>a{
  background: #429dc7;
  border-color: #429dc7;
}

.face-content>figure:nth-child(3)
{
background: #cc79d1 url('../img/equipment.png') no-repeat 85% 50%;
}

.face-content>figure:nth-child(3)>a{
  background: #b76dbc;
  border-color: #b76dbc;
}

.face-content>figure:nth-child(5)
{
background: #85d179 url('../img/discounts.png') no-repeat 85% 50%;
}

.face-content>figure:nth-child(5)>a{
  background: #77bc6d;
  border-color: #77bc6d;
}

.face-content>figure:nth-child(6)
{
background: #f6b22d url('../img/delivery.png') no-repeat 85% 50%;
}

.face-content>figure:nth-child(6)>a{
  background: #dda028;
  border-color: #dda028;
}

.face-content>figure:nth-child(6)>a:hover,
.face-content>figure:nth-child(5)>a:hover,
.face-content>figure:nth-child(3)>a:hover,
.face-content>figure:nth-child(2)>a:hover,
.face-content>figure:nth-child(1)>a:hover{
  background: #ccc;
  border-color: #ccc;
}

.face-content>figure:nth-child(6)>a:active,
.face-content>figure:nth-child(5)>a:active,
.face-content>figure:nth-child(3)>a:active,
.face-content>figure:nth-child(2)>a:active,
.face-content>figure:nth-child(1)>a:active{
  background: #b2b2b2;
  border-color: #b2b2b2;
}

/*=========Slider=========*/


.slider{
  overflow: hidden;
}

.slider-controls>label{
 
  width: 6px;
  height: 6px;
  border:3px solid white;
  background: white;
  border-radius: 100%;
  cursor:pointer;
  display: inline-block;
  position: relative;

 }

 .slider-controls{
  position: absolute;
  top:210px;
  left:300px;
   z-index: 2;
 }



.slider>input[type=radio] {
  
 position: absolute;
 opacity: 0;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] { 
    background:#ee3643;
}



.slide-text{
   text-decoration: none;
  font-size:18px;
  line-height:24px;
  font-family: 'Cuprum', sans-serif;
  font-weight:normal;
  color: white;
  margin-bottom: 120px;
  margin-top: 30px;
   margin-left: 20px;

}

.slide-text>span{

  font-size:36px;
  line-height:30px;
  font-weight:bold;
  text-transform: uppercase;
   margin-left: 10px;

}


.slide-btn{
  text-decoration: none;
  font-size:14px;
  line-height:18px;
  font-family: 'Cuprum', sans-serif;
  font-weight:normal;
  color: white;
  text-transform: uppercase;
  background: #ee3643;
padding: 10px 44px;
  border-radius: 3px;
  margin-left: 20px;
}

.slide {
  position: absolute;
  width: 618px;
  height: 270px;
  overflow: hidden;
  
  opacity:0;
   -webkit-transition: all 1s ease-out 0.5s;
     -moz-transition: all 1s ease-out 0.5s;
     -o-transition: all 1s ease-out 0.5s;
     transition: all 1s ease-out 0.5s;
}


.slides>.slide:nth-child(1)
{
  right:618px;

}

.slides>.slide:nth-child(2)
{
  left:618px;

}


.slide:nth-child(1){
    background-image:url('../img/slide-drills.png');
    background-repeat:no-repeat;
  
}
.slide:nth-child(2){
    background-image:url('../img/slide-perforator.png');
    background-repeat:no-repeat;

}

#btn-2:checked ~ .slides>.slide:nth-child(2){
  
 
  opacity: 1;
  -webkit-transform:  translateX(-618px);
     -moz-transform: translateX(-618px);
     -o-transform: translateX(-618px);
     transform: translateX(-618px);

  }
 
 #btn-1:checked ~ .slides>.slide:nth-child(1){

 
  opacity: 1;
  -webkit-transform:  translateX(618px);
     -moz-transform: translateX(618px);
     -o-transform: translateX(618px);
     transform: translateX(618px);
  
}


.slide-btn:hover{
  background: #ca2c37;
}

.slide-btn:active{
  background: #ba2732;
}

.icon-right, .icon-left{
  
  position: absolute;
  z-index: 5;
  color: white;
  font-size: 50px;
  line-height: 10px;
  padding: 0;
  cursor: pointer;
}
.icon-left{

  top:100px;
}

.icon-right{
  top:100px;
  left:550px;
}

#btn-1:checked ~ .arrow-controls>.on-second-right,
#btn-1:checked ~ .arrow-controls>.on-second-left,
#btn-2:checked ~ .arrow-controls>.on-first-right,
#btn-2:checked ~ .arrow-controls>.on-first-left
 {

display:none;
} 


/*=======TOP GOODS=====*/


.title-top-goods {
  height: 80px;
  background: #f7f3ec;
 
}

.title-top-goods>h2{
  font-family: 'Cuprum', sans-serif;
  color:#32425c;
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 20px;
 float:left;

  
}

.title-top-goods>.slide-btn{
  margin:0;
  margin-top: 20px;
  
  margin-right: 20px;
  float:right;

 
 }

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.item-top{
  width: 210px;
  height: 318px;
  text-align: center;
  position: relative;
  margin:14px;
  outline: 1px solid #e5e5e5;
}

.item-top:nth-child(1){
  margin-left: 0;
}

.item-top:nth-child(4){
  margin-right: 0;
}

.item-top>img{

  height: 132px;
  width: 170px;
  margin-top: 14px;

}

.item-top>h3{
  font-family: 'PTSans', sans-serif;
  color:black;
  font-size:18px;
  line-height: 20px;
   font-weight: bold;
   padding-top:3px;
    height: 80px;
  
}

.item-top>p{
  font-family: 'PTSans', sans-serif;
  color:#999999;
  font-size:17px;
  line-height: 20px;
   font-weight: bold;
   text-decoration: line-through;
   margin-top: 0;
   position: absolute;
   bottom:15%;
   left:70px;

}

.item-top>.slide-btn-div{
  text-decoration: none;
  font-size:14px;
  line-height:18px;
  font-family: 'PTSans', sans-serif;
  font-weight:bold;
  color: white;
  text-transform: uppercase;
  background: #ee3643;
padding: 10px 44px;
  border-radius: 3px;
 width: 64px;
 height: 17px;
margin-left: 35px;
position: relative;

 
}


.item-top>.slide-btn-div:after{
  content: "";
  display: block;
  width: 0px;
  height: 1px;
bottom: 0;
top: 0;
right: 0;
left: 125px;
 position: absolute;
   background: white;
  border: 18px solid transparent;
  border-left: 24px solid #ee3643;
  background: white;
   
}

 .item-top:hover{
-webkit-box-shadow: -5px 7px 43px 4px rgba(0,0,0,0.26);
-moz-box-shadow: -5px 7px 43px 4px rgba(0,0,0,0.26);
box-shadow: -5px 7px 43px 4px rgba(0,0,0,0.26);
}

.item-top:hover .item-buttons{

opacity: 1;
}

.item-buttons>.buy,
.item-buttons>.bookmark {

  font-size:14px;
  line-height:18px;
 font-family: 'Cuprum', sans-serif;
  font-weight:normal;
  color: white;
  text-transform: uppercase;
  background: #63a63e;
  border-radius: 3px;
  width: 120px;
  height: 45px;
  outline: none;
  border:none;
  border-bottom: 3px solid #367315;
  margin:10px;

}

.item-buttons {

  width: 206px;
  height: 145px;
  position: absolute;
  bottom: 50%;
  background: white;
  z-index: 1;
  opacity: 0;

}

.items-top>.item-top>.new>img {
  position: absolute;
  z-index: 2;
  right:0px;
}

.item-top:hover .picture-item {
  opacity: 0;
}

.buy:before{
  content:'\62';
  font-family:"symbols-technomart";
  padding-right: 5px;
  text-transform: none;
  color: #92c178;
}

.item-buttons>.bookmark{
  background: white;
  color:#32425c;
  border-bottom: none;
  border:3px solid #63a63e;
}

.item-buttons>.bookmark:hover{
  border-color: #32425c;
}


.item-buttons>.bookmark:active{
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.buy:hover {
  background: #5fbb2d;
  color: white;
}

.buy:active{
  background: #92c178;
  color:white;
  border-bottom: none;
}

.buy:hover:before{
color:white;
}

.item-top{
  display: inline-block;
}

/*=======TOP manufacturers=====*/
.items-manufacturers .item-top {

  height: 140px;
  margin:10px;


}

.items-manufacturers>.title-top-goods>a{
  padding: 10px 58px;
  }

.items-manufacturers .item-top a {
  
  display: block;
  height: 139px;
  width: 208px;
  margin:0;
 
}

.items-manufacturers>.item-top:nth-child(2)>a{
   background: url('../img/bosch.png') no-repeat center;
}
.items-manufacturers>.item-top:nth-child(3)>a{
   background: url('../img/makita.png') no-repeat center;
}
.items-manufacturers>.item-top:nth-child(4)>a{
   background: url('../img/dewalt.png') no-repeat center;
}
.items-manufacturers>.item-top:nth-child(5)>a{
   background: url('../img/interskol.png') no-repeat center;
}
.items-manufacturers>.item-top:nth-child(6)>a{
   background: url('../img/hitachi.png') no-repeat center;
}
.items-manufacturers>.item-top:nth-child(7)>a{
   background: url('../img/lg.png') no-repeat center;
}
.items-manufacturers>.item-top:nth-child(8)>a{
   background: url('../img/aeg.png') no-repeat center;
}
.items-manufacturers>.item-top:nth-child(9)>a{
   background: url('../img/metabo.png') no-repeat center;
}

.items-manufacturers>.title-top-goods{
  margin:10px auto;

}

/*============Services============*/
.main-services {
  height: 520px;
  background: #f2f6f8;

}

.main-services  input {
  display: none;
}

.s-slider-controls{
  float:left;
  
 
}

.s-slider-controls:after{
  content: '';
  display: block;
  height: 235px;
  width: 20px;
  
 position: absolute;
 top:195px;
 left:160px;
 background: url('../img/shadow.png') no-repeat right;
 z-index: 10;
  
}


.s-slider-controls > label {
  display:block;
  padding: 10px 0;
  width: 180px;
  margin-top: 40px;
  background: #32425c;
  text-align: center;
  color: white;
  font-size:21px;
  font-family: 'Cuprum', sans-serif;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
 /* box-shadow: inset -5px 0 20px 0px #000;*/

}

.s-slider-controls > label:hover{
  background: #293449;
}

.s-slider-controls > label:active{
  background: white;
  color:#32425c;
  border:none;
}


.services-slides{
  width: 660px;
  height: 300px;
  float: right;
  margin-top: 20px;
  position: relative;
}

.s-slider-controls > label:nth-child(2),
.s-slider-controls > label:nth-child(3){
  margin-top: 0px;
}

.service-slide{
  width: 650px;
  height: 290px;
  position: absolute;
  left:-40px;
  bottom: 0px;
  
}

.service-slide img{
 position: absolute;
 bottom: 4px;
 left:200px;
 z-index: 2;

}

   .service-slide h2 {
    font-size:21px;
    font-family: 'Cuprum', sans-serif;
    line-height: 30px;
    font-weight: bold;
    font-style: normal;
    color:#32425c;
    text-transform: uppercase;
  }

   .services-slides>.service-slide>p {
    font-size:13px;
    font-family: 'PTSans', sans-serif;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    color:black;
    width: 330px;
    z-index: 100;
    position: absolute;
 

  }

.main-services h3{
   font-size:30px;
    font-family: 'Cuprum', sans-serif;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color:black;
    text-transform: uppercase;
    padding-top: 70px;
}

.main-services>.content-wraper> p{
  font-size:14px;
    font-family: 'PTSans', sans-serif;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color:black;
    width:480px;
   
  
}



.service-slide:nth-child(1){
  opacity: 0;
}

.service-slide:nth-child(2){
  opacity: 0;
}

.service-slide:nth-child(3){
  opacity: 0;
}

#s-btn-1:checked ~ .services-slides>.service-slide:nth-child(1){
  opacity: 1;
}
#s-btn-2:checked ~ .services-slides>.service-slide:nth-child(2){
  opacity: 1;
}
#s-btn-3:checked ~ .services-slides>.service-slide:nth-child(3){
  opacity: 1;
}

.service-slide>.slide-btn{
  position: absolute;
  top:170px;
}

/*=========INFO=============*/

.about-info{

  width:520px;
  float: left;
  height: 387px;
}

.contact-info {

  width:380px;
  float: right;
  height: 387px;
}

.content-wraper{

}

.final-info h3{
  font-size:30px;
    font-family: 'Cuprum', sans-serif;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color:black;
    text-transform: uppercase;
    padding-top: 20px;
}

.final-info p{
  font-size:14px;
    font-family: 'PTSans', sans-serif;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color:black;
    
}

.final-info ul{
   font-weight: bold;
   list-style: none;
   margin-bottom: 44px;
}

.final-info ul>li{
  display: block;
  margin-top: 20px;
  position: relative;
  width: 180px;
}

.final-info ul>li:before{
  content:'';
  display:block;
  width: 30px;
  height: 3px;
  border-bottom: 3px solid red;
  position: absolute;
  right: 190px;
  top:5px;
}

.final-info .slide-btn{
  margin: 0px;
}

.map-info{
  height: 150px;
  width: 300px;
  margin-left: 40px;
  margin-bottom: 54px;
  margin-top: 40px;
  background: #e9e5dc;
}
.big-map-info{
  height: 415px;
  width: 915px;
  position: absolute;
  top:30px;
  left:-10px;
  border: 1px solid black;
background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
-webkit-box-shadow: 0 0 23px 4px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 23px 4px rgba(0,0,0,0.5);
box-shadow: 0 0 23px 4px rgba(0,0,0,0.5);
display: none;
}

.big-map-info:after{
  content:'';
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  left:920px;
  top:0px;
  background:url('../img/cross-map.png')  no-repeat center;
  cursor: pointer;
}

/*==============Modal Content WRITE US===========*/
.modal-content-write-us{
  height: 415px;
  width: 620px;
  position: absolute;
  z-index: 100;
  border-top: 5px solid #ee3643;
  top:2385px;
  left:350px;
  background: white;
 border: 1px solid black;

-webkit-box-shadow: 0 6px 32px black;
-moz-box-shadow: 0 6px 32px black;
box-shadow: 0 6px 32px black;
display:none;
}

.modal-content-write-us:after{
  content:'';
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  left:590px;
  top:0px;
  background:url('../img/cross-map.png')  no-repeat center;
  cursor: pointer;
}


.modal-content-write-us form{


  top:50px;
}

.buttons-modal{
margin-top:20px;
height: 71px;
text-align: center;
vertical-align: middle;
background: #f1f1f1;
border: 1px solid #f1f1f1;

}

.msg-modal{
  margin-top: 35px;
  margin-left: 65px;
  margin-bottom: 20.px;
}

.name-modal {
  margin-top: 40px;
}

.name-modal input{
  height: 35px;
  width:220px;
  margin-top: 10px;
}


.name-modal span:nth-child(1){
  float: left;
  margin-left: 65px;
}

.name-modal span:nth-child(2){
  float: right;
  margin-right: 65px;
}

.name-modal span, .msg-modal{
    font-size:18px;
    font-family: 'Cuprum', sans-serif;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    color:black;
    text-transform: none;

    
  }

  .buttons-modal > input[type="submit"]{
  
   float:left;
   margin-left: 65px;
   margin-top: 15px;
   border: none;
  }

    .buttons-modal > input[type="reset"]{
   
   float:right;
    margin-right: 65px;
    margin-top: 15px;
    border: none;
    background: #fff;
    color: black;
  }

 

  .buttons-modal > input[type="reset"]:focus,
  .buttons-modal > input[type="submit"]:focus{
    outline:none;
  }

   .buttons-modal > input[type="reset"]:hover{
    background: #c9c6c6;
  }

     .buttons-modal > input[type="reset"]:active{
    background: white;
  }


  .buttons-modal > .slide-btn{
    margin-top: 20px;
    width:230px;
    margin: 0;
  }

/*===============FOOOOOTEEEER===========*/

.part-first-footer{
 
  margin-top:100px;
  background: #32425c;
  height: 160px;
  border:1px solid #32425c;
}

.part-first-footer ul{
  list-style: none;

 margin-top: 0;
  padding: 0;
  margin-bottom: 15px;

}

.part-first-footer ul li{
  display: inline-block;
 
  margin-left: 60px;
  font-size:18px;
 
}

.part-first-footer ul:nth-child(1) li:nth-child(2) a,
.part-first-footer ul:nth-child(1) li:nth-child(3) a,
.part-first-footer ul:nth-child(1) li:nth-child(4) a,
.part-first-footer ul:nth-child(1) li:nth-child(5) a,
.part-first-footer ul:nth-child(1) li:nth-child(6) a,
.part-first-footer ul:nth-child(2) li {
   
    font-size: 16px;
    font-family: 'Cuprum', sans-serif;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color:white;
    text-transform: none;
    text-decoration: none;
    position: relative;
    top:15px;

   
}

.part-first-footer ul:nth-child(1) li:nth-child(2) a:hover,
.part-first-footer ul:nth-child(1) li:nth-child(3) a:hover,
.part-first-footer ul:nth-child(1) li:nth-child(4) a:hover,
.part-first-footer ul:nth-child(1) li:nth-child(5) a:hover,
.part-first-footer ul:nth-child(1) li:nth-child(6) a:hover,
.part-first-footer ul:nth-child(2) li a:hover {
   
    text-decoration: underline;  
}

.part-first-footer ul:nth-child(1) li:nth-child(2) a:active,
.part-first-footer ul:nth-child(1) li:nth-child(3) a:active,
.part-first-footer ul:nth-child(1) li:nth-child(4) a:active,
.part-first-footer ul:nth-child(1) li:nth-child(5) a:active,
.part-first-footer ul:nth-child(1) li:nth-child(6) a:active{

color:#929caa;
text-decoration: none;
}

.part-first-footer ul:nth-child(2) li a:active{
  color:#998a6e;
text-decoration: none;
}


.part-first-footer ul:nth-child(2) li a{
  color: #ffd180;
   text-decoration: none;
   text-align: top;
}

.part-first-footer ul li:nth-child(1){
  margin-left: 0;

}

.part-first-footer ul:nth-child(2) li:nth-child(1){
  width: 295px;
 margin-right: 35px;
 

}

.part-first-footer ul:nth-child(1) li:nth-child(1){
  margin-right: 80px;
  text-align: center;
  margin-top: 0;

}

.part-second-footer{

  background: #293449;
  height: 105px;
  text-align: left;
  vertical-align: middle;
}

.part-second-footer ul{
  margin-top:48px;
  list-style: none;

  padding-top: 25px;

}

.part-second-footer ul li{
    font-size: 16px;
    font-family: 'Cuprum', sans-serif;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color:white;
    text-transform: none;
    text-decoration: none;
    margin-right: 20px;
}

.part-second-footer>.content-wraper>ul>li:nth-child(1){
  width:240px;
  text-align: left;
  margin-right: 70px;
}

.social-btn{
  width: 40px;
  height: 40px;
  background: #212a3a;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 0px;
  position: relative;
  bottom: 15px;
  cursor: pointer;

}

.social-btn:hover{
background:#ee3643;
}

.vk:after{
  content: '\76';
  font-family: "symbols-technomart";
  color: white;
   font-size: 23px;
    line-height: 35px;

}

.facebook:after{
  content: '\66';
  font-family: "symbols-technomart";
  color: white;
   font-size: 23px;
    line-height: 35px;

}

.insta:after{
  content: '📷';
  font-family: "symbols-technomart";
  color: white;
   font-size: 23px;
    line-height: 35px;

}

.info-footer>span{
  color:#ffd180;
}

.info-footer:hover>span{
  text-decoration: underline;
}

.info-footer:active>span{
  text-decoration: none;
  color:#e13643;
}


/*==============CATALOG===============*/

/*============Grid============*/

.catalog-navigation{

  margin-top:10px; 
 }

.catalog-paragraph { 

margin:0;
padding:0;
}

.catalog-paragraph h2{

  margin-top: 20px;
  padding: 0;
  margin-bottom: 20px;
}

.filter{

  float:left;


}

.price-filter{
  height: 77px;
  width: 220px;
 
  margin:0;

}

.inpt-manufactures{
 border-bottom: 1px solid #e5e5e5;

}

.inpt{
 
}

.catalog-title-navigation{
 
  float: right;
   background: #f7f3ec;
   width: 73%;
   height: 40px;

 
}

.catalog-galery{

  float:right;
  width: 715px;

}

.paginator{

}

/*=================style============*/


/*======Navigation===========*/
.catalog-navigation ul{
  list-style: none;
  margin:0;
  padding: 0;
}

.catalog-navigation ul li{
  display:inline-block;
  text-transform: uppercase;
  margin:0;
  padding: 0;
}



.catalog-navigation ul li a{
  text-decoration: none;
  font-size:13px;
  line-height:18px;
  font-family: 'PTSans', sans-serif;
  font-weight:normal;
  color: black;
  margin-right: 20px;
}

.catalog-navigation ul li a:hover,
.catalog-navigation ul li:nth-child(1) a:hover{
  font-weight: bold;
  color: black;
}

.catalog-navigation ul li:nth-child(1) a{
  font-family: "symbols-technomart";
  color:#c1c6ce;
  font-size: 18px;
}

.catalog-navigation ul li a:before{

  margin-right: 20px;
  cursor: default;
}

.catalog-navigation ul li:nth-child(2) a:before,
.catalog-navigation ul li:nth-child(3) a:before,
.catalog-navigation ul li:nth-child(4) a:before {

  content: '\3e';
  font-family: "symbols-technomart";
  font-size:13px;
  line-height:18px;
   color:#c1c6ce;
}

/*=======FORM FILTER=======*/

.catalog-paragraph h2{
  height: 30px;
  text-decoration: none;
  font-size:30px;
  line-height:30px;
  font-family: 'Cuprum', sans-serif;
  font-weight:normal;
  color:#32425c;
  text-transform: uppercase;
  background: #f2f6f8;
  padding: 35px 0;
  padding-left: 30px;
}

.form-title{
  height: 30px;
  width: 190px;
  background: #f7f3ec;

  text-decoration: none;
  font-size:13px;
  line-height:18px;
  font-family: 'PTSans', sans-serif;
  font-weight:normal;
  color: black;
  text-transform: uppercase;
  padding-left: 30px;
  padding-top: 10px;
  
}

.scale-layer{
  height: 80px;
  width: 220px;
  background: #f7f3ec;

}

.toggle {
  height: 3px;
  width: 3px;
  background: #ababab;
  border: 10px solid white;
  border-radius: 100%; 
  cursor: pointer;
  box-shadow:0 2px 1px 0 #cfcfcf;
  position: absolute;
  top:-10px;
  
}

.min-toggle{
  left:45px;
}

.max-toggle{
  left:145px;
}
.scale{
  height: 2px;
  width: 170px;
  background: #d7dcde;
  position: relative;
  top:39px;
  left:24px;
}

.bar{
  height: 2px;
  background: #00ca74;
  position: absolute;
}

.price-inpt{
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
border-bottom: 1px solid #e5e5e5;
  text-align: center;
  height: 47px;
 


}
.price-inpt input{
  width:60px;
  font-family: "PTSans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 8px 10px;
  background-color: #f7f3ec;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
    border:none;
    font-style:normal;
    font-weight:300;
  border-radius:3px;
}

.min-price{
  float:left;
}

.max-price{
  float:right;
}

.inpt-manufactures input{
display: none;
}

.inpt-manufactures label:before{

  content: '\2610';
  font-family: "symbols-technomart";
  color: #c1c1c1;
   font-size: 22px;
    line-height: 18px;
    margin-right: 10px;
    padding-top: 10px;
 
}
.inpt-manufactures label{



  text-decoration: none;
  font-size:15px;
  line-height:35px;
  font-family: 'PTSans', sans-serif;
  font-weight:normal;
  color: black;
  text-transform: uppercase;


}

.inpt-manufactures input[type="checkbox"]:checked + label:before{
  content: '\2611';
}

.inpt-manufactures input[type="checkbox"]:disabled + label:before{
  content: '\2610';
  color: #e9e9e9;
}

.inpt-manufactures input[type="checkbox"]:disabled + label{
 color: #b4b4b4;
}

.inpt input{
display: none;
}

.inpt label:before{

  content: '\25cb';
  font-family: "symbols-technomart";
  color: #c1c1c1;
   font-size: 22px;
    line-height: 18px;
    margin-right: 10px;
    padding-top: 10px;
 
}
.inpt label{



  text-decoration: none;
  font-size:15px;
  line-height:35px;
  font-family: 'PTSans', sans-serif;
  font-weight:normal;
  color: black;
  text-transform: uppercase;


}

.inpt input[type="radio"]:checked + label:before{
  content: '\25cf';
}

.inpt input[type="radio"]:disabled + label:before{
  content: '\25cb';
  color: #e9e9e9;
}

.inpt input[type="radio"]:disabled + label{
 color: #b4b4b4;
}

.filter h3{
  text-transform: uppercase;


}

.btn-submit{
  width:140px;
  height: 38px;
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: white;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  border:1px solid #e5e5e5;
  font-style:normal;
  border-radius:3px;
  margin-top: 40px;
  margin-left: 20px;
}

.catalog-title-navigation ul{
 list-style: none;
 margin-top: 10px
 
}

.catalog-title-navigation ul li{
 display: inline-block;

  text-decoration: none;
  font-size:13px;
  line-height:18px;
  font-family: 'PTSans', sans-serif;
  font-weight:normal;
  color: black;
  text-transform: uppercase;
  color: #acaaa5;
  margin-right: 50px;
 
 }

 .catalog-title-navigation ul li label{
  cursor: pointer;
 }

 .catalog-title-navigation ul li input{
  display: none;
 }




.down:before{
content: '\25bc';
}

.up:before{
content: '\25b2';
}



 .catalog-title-navigation ul li:nth-child(1){
  color:black;
  margin-right: 70px;
  border-bottom: none;
   }

 .catalog-title-navigation ul li:nth-child(6),
 .catalog-title-navigation ul li:nth-child(5){
 
  margin-right: 20px;
  border-bottom: none;
 }

 .catalog-title-navigation ul li{
   border-bottom: 1px dotted red;
 }


.catalog-title-navigation ul li input[type="checkbox"]:checked + label{
  color:red;
}

.catalog-title-navigation ul li label:hover
{ 
  color:black;
  border-bottom: 1px dotted red;
}

/*===============items=============*/
.catalog-galery .item-top{
  display: inline-block;
  margin: 0px;
  margin-top: 20px;
  margin-left: 20px;
 }

 .page-catalog{

 }

 .catalog-galery .item-top:nth-child(1),
 .catalog-galery .item-top:nth-child(4),
 .catalog-galery .item-top:nth-child(7){
  margin-left: 35px;

}

.catalog-galery .item-top .new{
  position: absolute;
  z-index: 10;
  left:150px;
}

/*===============paginator===========*/
.paginator{
  
}
.paginator a{
  display:block;
  width: 35px;
  height: 25px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  font-size:13px;
  line-height:18px;
  font-family: 'PTSans', sans-serif;
  font-weight:normal;
  color: black;
  text-transform: uppercase;
  padding-top: 10px;
  margin-top: 70px;
  margin-right: 10px;
}

.paginator a:nth-child(4){
  width: 138px;
}

.paginator a:hover{
  border-color: #bdc6ca;
}

.paginator a:active{
border-color: red;
}

.paginator .active{
  background: #ee3643;
  color: white;
  border:none;
}

.catalog-closing{
  background-color: #f2f6f8;
  margin: 0;
  padding: 0;
}

.catalog-closing h2{

}